site:
  title: OneCX
  url: https://onecx.github.io/docs/
  start_page: documentation::index.adoc
content:
  sources:
    - url: .
      branches: HEAD
      start_paths:
        - docs
        - .
    - url: https://github.com/onecx/docs-guides-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/docs-guides-quarkus.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/docs-guides-bpmn.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/docs-contribution.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-nx-plugins.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-quarkus.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-announcement.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-announcement-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-announcement-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-announcement-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-bookmark.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-bookmark-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-bookmark-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-bookmark-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx-apps/onecx-document-management.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx-apps/onecx-document-management-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx-apps/onecx-document-management-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx-apps/onecx-document-management-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-help.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-help-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-help-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-help-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-iam.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-iam-kc-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-iam-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-iam-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-iam-kc-client-operator.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-parameter.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-parameter-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-parameter-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-parameter-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-permission.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-permission-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-permission-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-permission-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-permission-operator.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-product-store.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-product-store-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-product-store-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-product-store-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-product-store-operator.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-shell.git
      branches: [ HEAD ]
      start_path: docs
    - url: https://github.com/onecx/onecx-shell-bff.git
      branches: [ HEAD ]
      start_path: docs
    - url: https://github.com/onecx/onecx-shell-ui.git
      branches: [ HEAD ]
      start_path: docs
    - url: https://github.com/onecx/onecx-tenant.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-tenant-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-tenant-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-tenant-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-test.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-test-oidc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-test-operator.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-theme.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-theme-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-theme-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-theme-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-user-profile.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-user-profile-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-user-profile-avatar-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-user-profile-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-user-profile-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-welcome.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-welcome-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-welcome-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-welcome-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-workspace.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-workspace-svc.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-workspace-bff.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-workspace-ui.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-local-env.git
      branches: [HEAD]
      start_path: docs
    - url: https://github.com/onecx/onecx-portal-ui-libs.git
      branches: [HEAD]
      start_path: docs
ui:
  bundle:
    url: https://github.com/onecx/docs-antora-ui/releases/latest/download/ui-bundle.zip
    snapshot: true
  supplemental_files:
    - path: ui.yml
      contents: |
        static_files:
        - .nojekyll
    - path: .nojekyll
urls:
  latest_version_segment: current
asciidoc:
  attributes:
    sourcemap: true
    kroki-fetch-diagram: true
  extensions:
    - ./extensions/bpmn-js.js
    - asciidoctor-kroki
antora:
  extensions:
    - require: "@cerbos/antora-llm-generator"
    - "@antora/lunr-extension"
